.commentsContainer {
  display: grid;
  padding: 4rem;
  grid-template-rows: min-content min-content 3fr;
  gap: 2rem;
  min-height: auto;
}

.comment-item {
  list-style: none;
}

.comment-list {
  height: fit-content;
}

.self-text {
  min-width: 25%;
  width: fit-content;
  height: fit-content;
  border: 1px solid gray;
  background-color: lightgray;
}
