#PostContainer {
  display: grid;
  padding: 2rem;
  gap: 2rem;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 20px 20px 60px 60px 1fr;
  height: auto;
}

.post-list {
  grid-column: 1/2;
  grid-row: 3/6;
  display: grid;
  grid-template-rows: repeat(8, 150px);
  
}

.submit-link, .replica-link {
  grid-column: 2/3;
  display: grid;
  height: 3rem;
  width: 50%;
  place-content: center;
  color: white;
  background-color: rgb(0, 191, 255);
  border-radius: 10px;
  align-self: center;
}

.submit-link {
  grid-row: 2/3;
}
.replica-link {
  grid-row: 3/4;
}

.sub-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  grid-column: 2/3;
  grid-row: 4/5;
}

.post-navigation {
  margin-top: 10px;
}