.post-item {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 2rem;
  list-style: none;
  background-color: white;
  width: 100%;
  padding: 2rem;
  display: grid;
  align-items: center;
}

#PostContainer a {
  text-decoration-line: none;
  width: 100%;
}

.comment-link {
  color: rgb(29, 29, 29);
  text-decoration-line:underline;
}

.comment-link:hover {
  color: rgb(29, 29, 29);
  text-decoration-line: none;
}

.post-interactions {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 6rem);
}