.searchbar {
  position: relative;
  display: grid;
  height: 2.5rem;
  width: 100%;
  background-color: #888;
  align-items: center;
  grid-template-columns: 1fr;
  border-radius: 10px;
}

.searchIcon {
  left: 5px;
  position: absolute;
  height: 75%;
  width: auto;
}

.searchInput {
  width: 100%;
  height: 100%;
  background-color: inherit; 
  padding-left: 2.5rem;
  border-radius: inherit;
  border:1px solid #888;
}

.searchInput::placeholder {
  color: black;
}

.searchInput:active, .searchInput:focus {
  border: 1px solid rgb(0, 191, 255);
  outline: none;
  border-radius: inherit;
}

