.vote-display {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  height: 100%;
}

.vote-score {
  text-align: center;
}

.downvote, .upvote {
  font-size: 14px;
  background-color: white;
  border: none;
}

.upvote:hover, .downvote:hover {
  color: rgb(129, 129, 129);
}

.upvote.active {
  color: orangered;
}

.downvote.active {
  color: blue;
}

